#demo2
    .box
        position: relative
        .minibox
            border: 1px solid #62a368
            width: 140px
            height: 140px
            background-color: #62a368
            color: #ffff
            padding: 10px
            margin: 10px 0
        .flying
            position: absolute
            left: 190px